Package: io.github.wyxdlz54188.oldterm
Name: NewTerm
Depends: com.linusyang.localeutf8, system-cmds, sudo
Version: 2.1.5
Architecture: iphoneos-arm
Description: --新增关于页面markdown解析，终端中文输出，Tabbar修复
Maintainer: wyxdlz54188 <lizi54188@outlook.com>
Author: wyxdlz54188 <lizi54188@outlook.com>
Section: 终端
Icon: https://wyxdlz54188.github.io/repo/images/io.github.wyxdlz54188.oldterm.png
